@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  @apply m-0 p-0 box-border;
  font-family: "Poppins", sans-serif;
}
/* Navbar */
nav{
  @apply fixed w-[100%] bg-white z-[5] ;
}
.navbar {
  @apply flex flex-row justify-between items-center px-[70px] ; 
}
.navbar-left{
  @apply flex justify-center items-center py-[14px];
}
.logo{
  @apply h-[50px];
}
.navbar-mid{
  @apply flex flex-row justify-between items-center;
}
.navbar-mid a {
  @apply  block text-black text-center px-3 py-3 no-underline font-semibold;
}

.navbar-mid a:hover {
  @apply text-blue-800;
}

.navbar-right {
  @apply flex flex-row justify-center items-center gap-5 py-[14px] font-semibold;
}

.dropdown {
  @apply overflow-hidden;
}

.dropbtn {
  @apply flex flex-row justify-center items-end text-[16px] border-none outline-none text-black px-[15px] py-[14px] m-0 cursor-pointer font-semibold ;
}

.dropdown-content {
  @apply absolute hidden min-w-[160px] z-[1] backdrop-filter backdrop-blur-lg bg-opacity-75 bg-white p-4 rounded-lg;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-content a {
  @apply text-black px-[20px] py-[14px] no-underline block text-left;
}

.dropdown-content a:hover {
  @apply text-blue-900;
}

.dropdown:hover .dropdown-content {
  @apply block;
}
.logiin-btn{
  @apply flex justify-center items-center bg-white text-black px-[20px] py-[12px] rounded-[25px] border-none;
}
.getStart-btn{
  @apply flex justify-center items-center bg-blue-600 text-white px-[20px] py-[12px] rounded-[25px];
}

/* WebTemplate Aria */

.container{
  @apply w-[100%] h-auto pt-[4.7rem];
}
.content-aria{
  @apply w-[100%] h-auto ; 
}

/*Top Aria */
.top-container{
  @apply w-[100%] h-[30rem] flex justify-end items-center flex-col gap-10  ;
}
.top-container p{
  @apply text-[20px] text-blue-700 font-semibold;
}
.tc-aria{
  @apply w-[100%] h-[22rem] overflow-hidden relative;
}
.half-circle{
  @apply w-[100%] h-[300%] bg-blue-200 rounded-t-full relative ;
}
.hc-content{
  @apply absolute top-0 h-[100%] w-[100%] bg-white bg-opacity-80 flex flex-col justify-start items-center gap-8;
}
.tc-heading{
  @apply text-[60px] font-bold;
}
.tc-heading span{
  @apply text-blue-600;
}
.tc-description{
  @apply flex flex-col justify-center items-center;
}
.tc-description p{
  @apply text-gray-700 font-normal text-[25px];
}
.contact-sales-btn{
  @apply flex justify-center items-center bg-blue-600 text-white px-[20px] py-[12px] rounded-[25px];
}

/* Card Aria*/

.card-container{
  @apply h-[50rem] w-[100%] flex flex-col justify-center items-center gap-10 px-[100px] py-[30px] ;
}
.cc-header{
  @apply flex flex-col justify-center items-center gap-5;
}
.cc-header p{
  @apply text-[20px] text-blue-700 font-semibold;
}
.cc-header h2{
  @apply text-[40px] font-bold;
}
.cc-aria{
  @apply h-auto w-[100%] grid grid-cols-1 md:grid-cols-3 gap-4 gap-y-7;
}
.card{
  @apply bg-white p-3 rounded-md flex flex-col justify-between h-[15rem] w-[100%];
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-containt{
  @apply flex flex-col gap-[10px]
}
.c-icon{
  @apply h-[40px] w-[40px];
}
.card-containt h2{
  @apply font-bold;
}
.card a{
  @apply flex items-end text-blue-700 font-bold;
}

/*Action Aria*/

.action-container{
  @apply h-[25rem] w-[100%] bg-slate-800 flex justify-center items-center flex-col gap-10;
}
.action-container h1{
  @apply text-[40px] font-bold text-white
}
.ac-discription{
  @apply flex flex-col justify-center items-center text-white text-[20px] gap-4 text-center ;
}
.ac-buttons{
  @apply flex flex-row justify-center items-center gap-5
}
.sff-btn{
  @apply flex justify-center items-center bg-blue-600 text-white px-[25px] py-[12px] rounded-[25px];
}
.tws-btn{
  @apply flex justify-center items-center border-2 border-solid border-white text-white px-[25px] py-[12px] rounded-[25px];
}

/* Footer */

.footer-container{
@apply w-[100%] h-[40rem] px-[70px] py-[60px] flex flex-col justify-center items-center gap-5;
}
.footer-aria{
  @apply h-[90%] w-[100%]  flex flex-row justify-between items-center  gap-10;
}
.social-site{
  @apply w-[30%] h-[100%] flex flex-col gap-[50px];
}

.more-options{
  @apply w-[70%] h-[100%] p-2;
}
.f-heading{
  @apply flex flex-col gap-1;
}
.f-heading h1{
  @apply text-[40px] font-bold
}
.f-heading h2{
  @apply text-[40px] font-bold text-blue-700;
}
.select-lan{
  @apply w-[100%] h-[2.5rem] rounded-lg  border-2 border-solid;
}
.select-lan select{
  @apply w-[100%] h-[100%] outline-none;
}
.app-download{
  @apply flex flex-row items-center gap-3;
}
.app-download img{
  @apply h-[2.7rem] 
}
.social-links{
  @apply flex flex-row items-center gap-5 text-[25px]
}

.foot-con{
  @apply w-[100%] grid grid-cols-3 justify-items-start items-start gap-10;
 
}

.f-content{
  @apply flex flex-col gap-5 ;

}
.f-content h3{
  @apply text-[20px] font-bold;
}
.f-content a:hover{
  @apply text-blue-700;
}
.copright{
  @apply h-[10%] w-[100%] text-slate-500 flex flex-row justify-between items-center text-[12px];
}


/*Sight Navigation bar*/
.sight-nav{
  @apply hidden text-[30px];
}
.modal {
 @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden justify-center items-center backdrop-filter backdrop-blur-lg z-50;
}

.modal-content {
  @apply hidden w-full h-full bg-gray-100 rounded-lg;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.sn-head{
@apply w-full h-[5rem] flex items-center justify-between px-5 bg-white;
}
.sn-body{
  @apply w-full h-[85%] overflow-y-scroll flex flex-col gap-8 p-[30px] bg-white;
}
.sn-body a{
  @apply border-b-[1px] border-solid border-gray-400
}
.close {
  @apply text-5xl cursor-pointer;
}
.sn-dropdown{
  @apply flex flex-row items-end justify-between border-b-[1px] border-solid border-gray-400;
}
.options{
  @apply flex flex-col gap-8;
}
.options a{
  @apply border-none;
}
.buttons{
  @apply flex flex-col gap-5;
}
.buttons a{
  @apply border-none;
}
/*Mobile Screan*/

@media screen and (max-width: 760px) {
  .logo{
    @apply h-[40px];
  }
  .navbar{
    @apply px-[20px]
  }
  .navbar-mid{
    @apply hidden;
  }
  .navbar-right{
    @apply hidden;
  }
  .sight-nav{
    @apply block
  }
  .modal{
    @apply flex;
  }
  .modal-content{
    @apply block;
  }

  .top-container{
    @apply h-auto     }
  .tc-aria{
    @apply h-[15rem];
  }
  .half-circle{
    @apply h-[90%] 
  }
  .hc-content{
    @apply h-[100%] 
  }
  .tc-heading{
    @apply text-[25px]
  }
  .tc-description p{
    @apply text-[13px]
  }
  .card-container{
    @apply h-auto  py-[0px] px-[20px] mb-[20px] ;
  }
  .cc-header h2{
    @apply text-[25px] text-center;
  }
  .action-container h1{
    @apply text-[25px]
  }
  .ac-discription{
    @apply gap-0;
  }

  .footer-container{
    @apply px-[20px] h-auto;
  }

  .footer-aria{
    @apply  flex-col justify-between;
  }
  .social-site{
    @apply w-[100%] h-[100%] flex flex-col gap-[50px];
  }
  
  .more-options{
    @apply w-[100%] h-[100%] p-2;
  }
  .foot-con{
    @apply grid-cols-2;
  }
}